/* 
create user admin with superuser encrpyted password '1234'
psql -U postgres
create database beedle_db;
\q
psql -U admin beedle_db < dbexport.pgsql 
psql -d beedle_db -U admin

*/
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #222034;
}

#beedle-icon {
    width: 35px;
}

#searchbox {
    outline: none !important;
    box-shadow: none;
    border: 0px solid transparent;
}

.ruler {
    border-top: 1px solid white;
}


@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}

.item {

    margin: 3px;
}

.item-name {
    text-decoration: none !important;
}

.img-box {
    max-height: 600px;
    width: 180px;
}

.item-img {
    max-width: 100%;
    max-height: 113.38px;
    margin: auto;
    display: block;
    object-fit: contain;
}

.item-price {
    font-size: 25px;
}

.item-orig-price {
    text-decoration: line-through;
}

.custom-truncate {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productor {
    display: block;
    max-width: 150px;
}