{% extends 'base.html' %}

{% block head %}

    <title>404 - Page Not Found</title>

{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="text-light">404</h1>
                <p class="text-light">Page Not Found</p>
                <a href="/" class="btn btn-primary">Go back to Home</a>
            </div>
        </div>
    </div>

{% endblock %}