{% extends 'base.html' %}

{% block head %}

    <title>Beedle Mart</title>

{% endblock %}

{% block body %}

    {% include 'header.html' %}

    <div class="container container-small h-100">
        <div class="featured">
            <div class="d-flex justify-content-between">
                <h1 class="text-light align-self-baseline">Browse</h1>
                <small class="align-self-baseline align-self-end text-muted">Results: {{products|length}}</small>
            </div>
            <hr class="ruler mt-0 mb-0">
            <div class="d-flex flex-wrap pt-1 h-100">
            {% for product in products %}
                    <div class="item p-2 bg-light rounded">
                        <p class="m-0 custom-truncate"><a class="item-name" href="/product/{{ product['product_id'] }}">{{ product['product_name'] }}</a></p>
                        <div class="img-box mb-2">
                            <a href="/product/{{ product['product_id'] }}">
                                {% set img_name = product['product_img'] %}
                                <img class="item-img border rounded" src="/static/img/{{img_name}}/" alt="{{ product['product_img'] }}">
                            </a>
                        </div>
                        <div class="options">
                            <p class="item-price text-primary mb-0">₱{{'%.2f' | format (product['price'])}}</p>
                            {% if product['discount'] > 0 %}
                            <small class="mb-0">
                                <span class="text-muted item-orig-price">₱{{'%.2f' | format (product['orig_price'])}}</span>
                                <span class="item-discount">-{{product['discount']}}%</span>
                            </small>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/add/item" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputProductName">Product Name</label>
                        <input type="text" id="inputProductName" class="form-control" placeholder="Product Name" name="productName" required>
                    </div>
                    <div class="form-group">
                        <label for="inputProductImg">Product Image</label>
                        <input type="file" id="inputProductImg" class="form-control" name="productImg" required>
                    </div>
                    <div class="form-group">
                        <label for="inputProductInfo">Product Information</label>
                        <input type="text" id="inputProductInfo" class="form-control" name="productInfo" required>
                    </div>
                    <div class="form-group">
                        <label for="inputOrigPrice">Original Price</label>
                        <input type="text" id="inputOrigPrice" class="form-control" placeholder="Original Price" name="origPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="inputDiscPrice">Discounted Price</label>
                        <input type="text" id="inputDiscPrice" class="form-control" placeholder="Discounted Price" name="discPrice">
                    </div>
                    <div class="form-group">
                        <label for="inputStock">Stock</label>
                        <input type="text" id="inputStock" class="form-control" placeholder="Stock" name="stock" required>
                    </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Done</button>
            </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}