{% extends 'base.html' %}

{% block head %}

    <title>Beedle Mart - Home</title>

{% endblock %}

{% block body %}

    {% include 'header.html' %}

    <div class="container container-small">
        <div class="featured mt-3">
            <h1 class="text-light">Featured</h1>
            <hr class="ruler mt-0">
        </div>
        <div class="top-selling">
            <h1 class="text-light">Top Selling</h1>
            <hr class="ruler mt-0">
        </div>
    </div>

{% endblock %}